bin/
build/
develop-eggs/
dist/
eggs/
buildout_platform_versions.egg-info/
target/
*.pyc
*.tmp
.*.swp
.*.swo
.*.swn
.project
.pydevproject
.settings
.buildenv
.installed.cfg
.extends-cache
parts
nosetests.xml
coverage/
.coverage
.project
